/* Imports */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Source+Sans+Pro:300,400,600,700');

/* Variables */

$font-stack: 'Source Sans Pro', 'Open Sans', sans-serif;
$header-font: 'Source Sans Pro', sans-serif;
$body-font: 'Open Sans', sans-serif;
$body-background-color: rgb(255,255,255);

/* Bootstrap Customization */

body {
  font-family: $font-stack;
  background-color: $body-background-color;
}

h1, h2, h3 {
  font-family: $header-font;
}

p, h4, h5, h6, a {
  font-family: $body-font;
}

.col-md-12, .col-md-11, .col-md-10,
.col-md-9, .col-md-8, .col-md-7,
.col-md-6, .col-md-5, .col-md-4,
.col-md-3, .col-md-2, .col-md-1,
.col-sm-12, .col-sm-11, .col-sm-10,
.col-sm-9, .col-sm-8, .col-sm-7,
.col-sm-6, .col-sm-5, .col-sm-4,
.col-sm-3, .col-sm-2, .col-sm-1,
.col-xs-12, .col-xs-11, .col-xs-10,
.col-xs-9, .col-xs-8, .col-xs-7,
.col-xs-6, .col-xs-5, .col-xs-4,
.col-xs-3, .col-xs-2, .col-xs-1 {
  padding-left: 0px;
  padding-right: 0px;
}

a {
  text-decoration: none;
}

/* Reusable Classes */

.zindex100 {
  z-index: 100;
}

.zindex10 {
  z-index: 10;
}

.zindex1 {
  z-index: 1;
}

.position0 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top0 {
  top: 0;
}

.bottom0 {
  bottom: 0;
}

.left0 {
  left: 0;
}

.right0 {
  right: 0;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.right-align {
  float: right;
}

.center-align {
  text-align: center;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.flex-vertically-center {
  // To be used in conjuction with display-flex

  align-items: center;
}

.flex-horizontally-center {
  // To be used in conjuction with display-flex

  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.margin0 {
  margin: 0;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.fat-font {
  font-weight: 700;
}

.medium-fat-font {
  font-weight: 600;
}

.thin-font {
  font-weight: 300;
}

/**** First Section ****/

/* Header Bar */

.header-nav {
  background-color: rgb(159, 210, 236);
  color: rgb(23, 55, 81);
  box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15);
  padding: 18px;
}

.header-text {
  font-size: 1.2em;
  margin-bottom: 0;
  margin-right: 1em;
}

.back-button {
  color: rgb(0,0,0);
  padding-right: 2em;
}

.header-logo-text {
  max-height: 34px;
}

.padding-for-header {
  padding-top: 70px;
}

.padding-for-header-mobile {
  padding-top: 122px;
}

/* Title Section */

.title-section {
  z-index: 99;
}

.title {
  box-sizing: border-box;
  top: 50%;
  z-index: 1000;
  transform: translateY(-50%);
}

.title-logo {
  width: 50%;
}

.title-subtext {
  padding: 0 25px;
}

.title-desc {
  top: 80%;
  text-align: left;
  font-size: 0.9em;
  padding: 0 25px;
}

.down-arrow {
  top: 90%;
}

/* Map Background */

.map-background {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0.25;
}

.background-svg {
  max-height: 100%;
}

/**** Second Section ****/

.second-section-border {
  border-style: solid;
  border-color: #E5E5E5;
  border-left-width: 3px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

/* Search Bar */

.search-bar {
  padding: 18px;
  background-color: $body-background-color;
}

.search-bar-border {
  border-style: solid;
  border-color: #E5E5E5;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 3px;
}

.search-bar-border-mobile {
  border-style: solid;
  border-color: #E5E5E5;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 3px;
  border-bottom-width: 3px;
}

.search-input {
  margin: 0;
  background: transparent;
  border-radius: 0;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  font-family: inherit;
  padding: 0.45em;
}

/* Cities Lists */

/* Cities List Item */

.cities-list-item {
  background-color: rgba(0, 0, 0, 0.8);
}

.cities-list-item-border {
  border-style: solid;
  border-color: $body-background-color;
  border-right-width: 2px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 2px;
}

.cities-list-item-border-mobile {
  border-style: solid;
  border-color: $body-background-color;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 2px;
}

.cities-list-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.cities-list-item-img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  opacity: 0.5;
}

.cities-list-item-text {
  color: rgb(255, 255, 255);
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}

/*** City ***/

.city-maps-list {
  padding: 3em;
}

.city-maps-item {
  height: 50%;
  border-style: solid;
  border-width: 0px 2px 2px 0px;
  background-color: #F5F5F5;
  border-color: rgb(255, 255, 255);
  color: rgb(47, 47, 47);
}

.city-maps-item:hover {
  color: #337ab7;
  background-color: #FBFBFB;

  .city-maps-item-inner {
    border-color: rgb(224, 224, 224);
  }
}

.city-maps-item-inner {
  border-style: solid;
  border-color: rgb(202, 202, 202);
  border-width: 0px 1px 0px 0px;

  h3 {
    margin-top: 0px;
  }

  p {
    margin-bottom: 5px;
  }
}

.city-maps-item-padding {
  padding: 1em;
}

/*** City Map ***/

.no-city-map-logo {
  width: 50%;
  max-height: 200px;
}

.no-city-map-background {
  max-width: 700px; 
}