/* Imports */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Source+Sans+Pro:200,300,400,600,700');

/* Variables */

$font-stack: 'Source Sans Pro', 'Open Sans', sans-serif;
$header-font: 'Source Sans Pro', sans-serif;
$body-font: 'Open Sans', sans-serif;

/* Bootstrap Customization */

body {
  font-family: $font-stack;
}

h1, h2, h3 {
  font-family: $header-font;
}

p, h4, h5, h6, a {
  font-family: $body-font;
}

.col-md-12, .col-md-11, .col-md-10,
.col-md-9, .col-md-8, .col-md-7,
.col-md-6, .col-md-5, .col-md-4,
.col-md-3, .col-md-2, .col-md-1,
.col-sm-12, .col-sm-11, .col-sm-10,
.col-sm-9, .col-sm-8, .col-sm-7,
.col-sm-6, .col-sm-5, .col-sm-4,
.col-sm-3, .col-sm-2, .col-sm-1,
.col-xs-12, .col-xs-11, .col-xs-10,
.col-xs-9, .col-xs-8, .col-xs-7,
.col-xs-6, .col-xs-5, .col-xs-4,
.col-xs-3, .col-xs-2, .col-xs-1 {
  padding-left: 0px;
  padding-right: 0px;
}

a {
  text-decoration: none;
}

/* Reusable Classes */

.top-zindex {
  z-index: 100;
}

.bottom-zindex {
  z-index: 1;
}

.position0 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top0 {
  top: 0;
}

.bottom0 {
  bottom: 0;
}

.left0 {
  left: 0;
}

.right0 {
  right: 0;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.right-align {
  float: right;
}

.center-align {
  text-align: center;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.flex-vertically-center {
  // To be used in conjuction with display-flex

  align-items: center;
}

.flex-horizontally-center {
  // To be used in conjuction with display-flex

  justify-content: center;
}

.margin0 {
  margin: 0;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

/**** First Section ****/

/* Header Bar */

.header-nav {
  background-color: rgb(159, 210, 236);
  color: rgb(23, 55, 81);
  box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15);
  padding: 18px;
}

.header-text {
  font-size: 1.2em;
  margin-bottom: 0;
  margin-right: 1em;
}

/* Title Section */

.title-section {
  z-index: 99;
}

.title {
  box-sizing: border-box;
  top: 50%;
  z-index: 1000;
  transform: translateY(-50%);
}

/* Map Background */

.map-background {
  transform: translate(-50%, -50%);
  height: auto;
  top: 50%;
  left: 50%;
}

.background-svg {
  max-height: 100%;
}

/**** Second Section ****/

/* Search Bar */

.search-bar {
  padding: 18px;
  position: fixed;
  background-color: rgb(255, 255, 255);
}

.search-input {
  margin: 0;
  background: transparent;
  border-radius: 0;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  font-family: inherit;
  padding: 0.45em;
}

/* Map Lists */

.maps-list {
  padding-top: 70px;
}

/* Map Item */

.map-item {
  background-color: rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
}

.map-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.map-item-img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  opacity: 0.5;
}

.map-item-text {
  color: rgb(255, 255, 255);
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}