/* Imports */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Source+Sans+Pro:200,300,400,600,700');

/* Variables */

$font-stack: 'Source Sans Pro', 'Open Sans', sans-serif;
$header-font: 'Source Sans Pro', sans-serif;
$body-font: 'Open Sans', sans-serif;

/* Bootstrap Customization */

body {
  font-family: $font-stack;
}

h1, h2, h3 {
  font-family: $header-font;
}

p, h4, h5, h6, a {
  font-family: $body-font;
}

.col-md-12, .col-md-11, .col-md-10,
.col-md-9, .col-md-8, .col-md-7,
.col-md-6, .col-md-5, .col-md-4,
.col-md-3, .col-md-2, .col-md-1,
.col-sm-12, .col-sm-11, .col-sm-10,
.col-sm-9, .col-sm-8, .col-sm-7,
.col-sm-6, .col-sm-5, .col-sm-4,
.col-sm-3, .col-sm-2, .col-sm-1,
.col-xs-12, .col-xs-11, .col-xs-10,
.col-xs-9, .col-xs-8, .col-xs-7,
.col-xs-6, .col-xs-5, .col-xs-4,
.col-xs-3, .col-xs-2, .col-xs-1 {
  padding-left: 0px;
  padding-right: 0px;
}

/* Reusable Classes */

.header-height {
  height: 50px;
}

.top-zindex {
  z-index: 100;
}

.bottom-zindex {
  z-index: 1;
}

.width100 {
  width: 100%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.right-align {
  float: right;
}

.all-padding10 {
  padding: 10px;
}

.side-padding10 {
  padding: 0px 10px;
}

/* Map Background */

.map-background {
  transform: translate(-50%, -50%);
  height: auto;
  top: 50%;
  left: 50%;
}

.background-svg {
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: -2px;
}

/* Search Bar */

.search-bar {
  display: flex;
  padding: 0 1em;
}

.search-input {
  margin: 0;
  background: transparent;
  border-radius: 0;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  font-family: inherit;
  padding: 6px;
}